doctype html
html
  head
    title= `SP Athletics`
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/'): div.home-btn: h1 SP ATHLETICS
      ul
        li 
          a(href='/athletes'): button ATHLETES
        li
          a(href='/sports'): button SPORTS
        li
          a(href='/staff'): button STAFF    
    img.logo(src='/images/SP-Athletics.png' width='90')
    block content
    footer
      | #[em Created by Ethan Chan @ 2023]
