doctype html
html
  head
    title= `SP Athletics`
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a.nav-link(href='/'): div.home-btn: h1 SP ATHLETICS
      ul
        li 
          a.nav-link(href='/athletes'): button ATHLETES
        li
          a.nav-link(href='/sports'): button SPORTS
        li
          a.nav-link(href='/staff'): button STAFF    
      div.logo
        img(src='/images/SP-Athletics.png' width='100')
    block content
  footer
    | #[em Created by Ethan Chan @ 2023]
