extends ../layout

block content
  main
    div.content-header
      h2 Sports' Directory
      a(href='/sports/create'): button.crud-btn NEW SPORT
    br
    hr
    section
    if sports.length > 0
      table
        tr
          th #
          th Sport
        for sport,index in sports
          tr
            td.align-center #{index+1}
            td.align-center: a(href=sport.url) #{sport.name}
    else 
      p There are no sports in the database