* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Verdana", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: rgb(238, 224, 205);
} 

footer {
  background-color: rgb(250, 248, 245);
  padding: 1em;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 1px 5px rgb(20, 63, 31);
}

nav {
  font-size: x-large;
  align-items: center;
  display:flex;
  padding: 0 1em;
  background-color: rgb(250, 248, 245);
  box-shadow: 0px 1px 5px rgb(20, 63, 31);
}

.home-btn {
  display: flex;
  align-items: center;
  height: 50px;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 1em;
  flex-grow: 1;
}

.logo {
  display: flex;
}

.nav-link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: blue;
}

a:hover {
  color:goldenrod;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  font-weight: bold;
  background-color: rgb(20, 63, 31);
  color: white;
}

button:hover, .home-btn:hover {
  cursor: pointer;
  color:goldenrod;
}

main {
  padding: 2em;
  margin: 2em;
  max-height: 80vh;
  overflow-y:auto;
}

.content-header {
  display: flex;
  align-items: center;
  height: 60px;
}

.content-header > h2 {
  flex-grow: 1;
}

h3 {
  text-align: center;
}

.homepage {
  margin: 2em;
}

.content-container {
  display:flex;
  justify-content: space-around;
  padding: 3em;
}

.content {
  display:flex;
  background-color: rgb(20, 63, 31);
  color: white;
  align-items: baseline;
  padding: 0.5em;
  width: 180px;
  border-radius: 10px;
  justify-content: center;
}

.number {
  font-size: 70px;
  padding: 0.1em;
}

table {
  margin: 1em auto;
  width: max-content;
}

.align-center {
  text-align: center;
}

th {
  padding: 0.5em;
  border-bottom: 1px solid black;
}

td {
  padding: 0.1em 0.5em;
}

.athlete-details-container {
  margin: 5em;
}

.details-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.img-holder {
  border: 1px solid black;
  height: 320px;
  width: 300px;
  margin: 1em;  
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  background-color: white;
}

.athlete-details > div {
  display: flex;
  padding: 1em;
}

.label {
  width: 110px;
}

.crud-btn-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  padding: 1em;
}

.crud-btn {
  border-radius: 10px;
}

.del-btn {
  background-color: rgb(163, 41, 41);
}